/* $Id: taxonomy_super_select.css,v 1.2 2009/01/12 22:03:08 codexmas Exp $ */
/**
 * @file
 *   Changes the default taxonomy select box into checkbox or radio buttons.
 */

.taxonomy-super-select-checkboxes {
  clear: both;
  padding-top: 1em;
}

.taxonomy-super-select-checkboxes .form-item label.option {
  float: left;
  margin-right: 1.5em;
}

.taxonomy-super-select-radios {
  clear: both;
  padding-top: 1em;
}

.taxonomy-super-select-radios .form-item label.option {
  float: left;
  margin-right: 1.5em;
}

.taxonomy-super-select-radios .description {
  clear: both;
}

.taxonomy-super-select-help {
  display: block;
  font-style: italic;
  margin-left: 1em;
}

#taxonomy-form-vocabulary .taxonomy-super-select-radios {
  padding-top: 0;
}

#taxonomy-form-vocabulary .form-radios {
  margin-top: 0;
}

#taxonomy-form-vocabulary .form-item {
  margin-top: 0;
}

.taxonomy-super-select-image .form-item {
  display: inline;
}
