@charset "utf-8";
/* CSS Document */

#main {
	position: relative;
	width: 899px;
	margin:0 auto;
	background: #FFFFFF url(./images/bg.png) center repeat-y;
}
#header {
	position:relative;
	width: 100%;
	height: 175px;
	background: #FFFFFF url(./images/bg.png) center repeat-y;
}
#header ul {
	margin:0;
	list-style:none;
}
#header a.logo {
	display:block;
	width:181px;
	height:156px;
	background: url(./images/logo.png) no-repeat left top;
	position:absolute;
	top:14px;
	left:50px;
}
#body {
	position:relative;
	float: left;
	width: 100%;
	height: 100%;
	background: #FFFFFF url(./images/bg.png) center repeat-y;
}

#footer {
	float:left;
	position:relative;
	width:100%;
	padding: 20px 0px 0px 0px;
	background: #FFFFFF url(./images/bg.png) center repeat-y;
}
#footer_content {
	padding: 0px 18px 8px 8px;
	text-align: center;
}
#content {
	padding: 0px 8px 8px 8px;
	text-align: left;
}

#admin_container {
	position: relative;
	width: 800px;
	margin: 10px auto;
}

#admin_border {
	float: left;
	position: relative;
	width: 800px;
	padding: 0 0 14px 0;
	background: url(../admin/images/admin_border_bot.png) bottom left no-repeat;
}
#admin_border_t {
	float: left;
	position: relative;
	width: 800px;
	padding: 17px 0 0 0;
	background: url(../admin/images/admin_border_top.png) top left no-repeat;
}
#admin_border_contain {
	float: left;
	position: relative;
	width: 800px;
	background: url(../admin/images/admin_border_bg.png) top left repeat-y;
}
#admin_border_content {
	position: relative;
	width: 770px;
	margin: 0 auto;
}
#admin_recipe_title {
	position: relative;
	float: left;
	width: 760px;
	font-size: 20px;
	color: #fff;
	background: url(./images/bg/bg_yel.gif) repeat;
	padding: 5px 0 5px 10px;
}
#admin_recipe_content {
	float: left;
	position: relative;
	width: 760px;
	margin: 2px 5px 10px 5px;
}
#admin_recipes_content_inner {
	float: left;
	position: relative;
	width: 760px;
	padding: 5px 0 5px 0;
	background: #FBF8BD
}
#admin_recipes_content_inner01 {
	float: left;
	position: relative;
	width: 760px;
	margin: 5px 0 5px 0;
}
#admin_recipes_col_del {
	float: left;
	position: relative;
	width: 20px;
	padding: 0 5px 0 5px;
}
#admin_recipes_col01 {
	float: left;
	position: relative;
	width: 155px;
	padding: 2px 0 0 5px;
}
#admin_recipes_col02 {
	float: left;
	position: relative;
	width: 320px;
	margin: 2px 10px 0 10px
}
#admin_recipes_col03 {
	float: left;
	position: relative;
	width: 200px;
	margin: 2px 0px 0 0px
}
.admin_title {
	font-size: 14px;
	color: #fff;
}
#admin_recipes_content_title {
	float: left;
	position: relative;
	width: 760px;
	background: url(./images/bg/bg_yel.gif) repeat;
	height: 23px;
	padding: 5px 0 0 0;
}
#admin_sub_menu_contain {
	color: #06F;
	float: left;
	position: relative;
	width: 580px;
	height: 20px;
	
}
#admin_sub_menu {
	color: #bfb7b1;
	float: right;
	position: relative;
	width: 580px;
	height: 20px;
	background: #F7F7F7 url(./images/bg/white_line.gif) left top repeat-x;
}
#admin_sub_menu a {
	color: #bfb7b1;
	font-weight: bold;
}
#admin_sub_menu a:hover {
	color: #FC0;
}
#recipe_menu {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}
#divagossip_menu {
	position: absolute;
	top: 0;
	left: 145px;
	visibility: hidden;
}
#divatips_menu {
	position: absolute;
	top: 0;
	left: 290px;
	visibility: hidden;
}
#mydiva_menu {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
}

#menu_span {
	margin: 3px 3px 0 3px;
	display: block;
	text-align: center;
}


#admin-menu {
	float: left;
	position: relative;
	margin:0;
	padding:0;
	width: 580px;
	/**background: url(./images/menubar.png) no-repeat left;**/
}
#admin_menu {
	float: left;
	position:absolute;
	top: 103px;
	right: 56px;
	width: 580px;
	margin:0;
	padding:0;
}
#admin_menu_contain {
	float: left;
	position: relative;
	width: 388px;
}
#admin-menu li {
	float:left;
	position:relative;
	margin:0;
	height:40px;
}
#admin-menu li a {
	float:left;
	display:block;
	height:40px;
	overflow:hidden;
	text-indent:-999px;
}
.admin-recipes {
	width: 145px;
	background: url(./images/menu_admin/Recipes_bg.gif) right no-repeat;
}
.admin-divagossip {
	width: 145px;
	background: url(./images/menu_admin/divagossip_bg.gif) right no-repeat;
}
.admin-divatips {
	width: 145px;
	background:url(./images/menu_admin/divatips_bg.gif) right no-repeat;
}
.admin-mydiva {
	width: 145px;
	background: url(./images/menu_admin/mydiva_bg.gif) right no-repeat;
}
#admin-menu li.admin-recipes a {
	background: url(./images/menu_admin/Recipes.gif) no-repeat right;
	width:145px;
}
#admin-menu li.admin-divagossip a {
	background: url(./images/menu_admin/divagossip.gif) no-repeat right;
	width: 145px;
}
#admin-menu li.admin-divatips a {
	background: url(./images/menu_admin/divatips.gif) no-repeat right;
	width: 145px;
}
#admin-menu li.admin-mydiva a {
	background: url(./images/menu_admin/mydiva.gif) no-repeat right;
	width: 145px;
}

#admin-menu li a:hover,
#admin-menu li:hover a,
#admin-menu li.hover a {
	background-position:0 -40px;
}
#admin-menu li ul {
	position:absolute;
	left:0;
	top:46px;
	width:178px;
	margin:0;
	padding:0;
	display:none;
}
#admin-menu li:hover ul,
#admin-menu li.hover ul {
	display:block;
}
#admin-menu li ul li {
	float:left;
	margin:0;
	padding:0 0 3px 0;
	height:24px;
	border-right:1px solid #000;
}
#admin-menu li ul li.last {
	background:none;
	padding:0;
}
#admin-menu li ul li a {
	float:none;
	display:block;
	height:24px;
	text-indent:0px;
	background:none !important;
	font:11px/24px 'Trebuchet MS',tahoma,sans-serif;
	width:154px !important;
	color:#fff;
	padding:0 0 0 23px;
}
#admin-menu li ul li a:hover {
	background:#1F6EAB !important;
}

#recipes_edit_title {
	float: left;
	position: relative;
	width: 96%;
	font-size: 20px;
	color: #3c71b6;
	padding: 5px 0 0 0;
}
#recipes_edit_lbl {
	float: left;
	position: relative;
	width: 96%;
	padding: 10px 0 0 0;
}
#recipes_edit_input {
	float: left;
	position: relative;
	width: 96%;
	padding: 5px 0 0 0;
}
#recipes_edit_input input {
	width: 530px;
	border: 1px solid #ccc;
}
#recipes_edit_input textarea {
	overflow: auto;
	height: 200px;
	width: 530px;
	border: 1px solid #ccc;
}
#recipes_edit_note {
	float: left;
	position: relative;
	width: 94%;
	font-size: 11px;
	color: #999;
	font-size: 11px;
}
#recipes_edit_input01 {
	float: left;
	position: relative;
	width: 96%;
	padding: 0px 0 0 0;
}

#sub_menu_content {
	width: 90px;
}
#sub_menu_content a{
	color: #000;
	width: 90px;
}
