

.node-unpublished{background-color:#fff4f4;}.preview .node{background-color:#ffffea;}#node-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#node-admin-buttons{float:left;
  margin-left:0.5em;
  clear:right;}td.revision-current{background:#ffc;}.node-form .form-text{display:block;width:95%;}.node-form .container-inline .form-text{display:inline;width:auto;}.node-form .standard{clear:both;}.node-form textarea{display:block;width:95%;}.node-form .attachments fieldset{float:none;display:block;}.terms-inline{display:inline;}


div.admin-panel{margin:0;padding:5px 5px 15px 5px;}div.admin-panel .description{margin:0 0 3px;padding:2px 0 3px 0;}div.admin-panel .body{padding:0 4px 2px 8px;}div.admin{padding-top:15px;}div.admin .left{float:left;width:47%;margin-left:1em;}div.admin .right{float:right;width:47%;margin-right:1em;}div.admin .expert-link{text-align:right;
  margin-right:1em;
  padding-right:4px;}table.package{width:100%;}table.package .description{width:100%;}table.package .version{direction:ltr;}div.admin-dependencies,div.admin-required{font-size:0.9em;color:#444;}span.admin-disabled{color:#800;}span.admin-enabled{color:#080;}span.admin-missing{color:#f00;}
table.system-status-report th{border-bottom:1px solid #ccc;}table.system-status-report th,table.system-status-report tr.merge-up td{padding-left:30px;}table.system-status-report th{background-repeat:no-repeat;background-position:5px 50%;
  padding-top:6px;padding-bottom:6px;}table.system-status-report tr.error th{background-image:url(/misc/watchdog-error.png);}table.system-status-report tr.warning th{background-image:url(/misc/watchdog-warning.png);}table.system-status-report tr.ok th{background-image:url(/misc/watchdog-ok.png);}
.theme-settings-left{float:left;width:49%;}.theme-settings-right{float:right;width:49%;}.theme-settings-bottom{clear:both;}
table.screenshot{margin-right:1em;}.theme-info h2{margin-bottom:0;}.theme-info p{margin-top:0;}
.date-container{overflow:auto;clear:left;}.date-container .form-item{margin-top:0;}.date-container .select-container,.date-container .custom-container{float:left;}.date-container .custom-container{margin-left:15px;
  width:50%;}html.js .custom-container label{visibility:hidden;}


fieldset{margin-bottom:1em;padding:.5em;}form{margin:0;padding:0;}hr{height:1px;border:1px solid gray;}img{border:0;}table{border-collapse:collapse;}th{text-align:left;
  padding-right:1em;
  border-bottom:3px solid #ccc;}
.clear-block:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clear-block{display:inline-block;}/* Hides from IE-mac \*/
* html .clear-block{height:1%;}.clear-block{display:block;}



body.drag{cursor:move;}th.active img{display:inline;}tr.even,tr.odd{background-color:#eee;border-bottom:1px solid #ccc;padding:0.1em 0.6em;}tr.drag{background-color:#fffff0;}tr.drag-previous{background-color:#ffd;}td.active{background-color:#ddd;}td.checkbox,th.checkbox{text-align:center;}tbody{border-top:1px solid #ccc;}tbody th{border-bottom:1px solid #ccc;}thead th{text-align:left;
  padding-right:1em;
  border-bottom:3px solid #ccc;}
.breadcrumb{padding-bottom:.5em}div.indentation{width:20px;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;
  padding:0.42em 0 0.42em 0.6em;
  float:left;}div.tree-child{background:url(/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/misc/tree-bottom.png) no-repeat 11px center;}div.tree-child-horizontal{background:url(/misc/tree.png) no-repeat -11px center;}.error{color:#e55;}div.error{border:1px solid #d77;}div.error,tr.error{background:#fcc;color:#200;padding:2px;}.warning{color:#e09010;}div.warning{border:1px solid #f0c020;}div.warning,tr.warning{background:#ffd;color:#220;padding:2px;}.ok{color:#008000;}div.ok{border:1px solid #00aa00;}div.ok,tr.ok{background:#dfd;color:#020;padding:2px;}.item-list .icon{color:#555;float:right;
  padding-left:0.25em;
  clear:right;}.item-list .title{font-weight:bold;}.item-list ul{margin:0 0 0.75em 0;padding:0;}.item-list ul li{margin:0 0 0.25em 1.5em;
  padding:0;list-style:disc;}ol.task-list li.active{font-weight:bold;}.form-item{margin-top:1em;margin-bottom:1em;}tr.odd .form-item,tr.even .form-item{margin-top:0;margin-bottom:0;white-space:nowrap;}tr.merge-down,tr.merge-down td,tr.merge-down th{border-bottom-width:0 !important;}tr.merge-up,tr.merge-up td,tr.merge-up th{border-top-width:0 !important;}.form-item input.error,.form-item textarea.error,.form-item select.error{border:2px solid red;}.form-item .description{font-size:0.85em;}.form-item label{display:block;font-weight:bold;}.form-item label.option{display:inline;font-weight:normal;}.form-checkboxes,.form-radios{margin:1em 0;}.form-checkboxes .form-item,.form-radios .form-item{margin-top:0.4em;margin-bottom:0.4em;}.marker,.form-required{color:#f00;}.more-link{text-align:right;}.more-help-link{font-size:0.85em;text-align:right;}.nowrap{white-space:nowrap;}.item-list .pager{clear:both;text-align:center;}.item-list .pager li{background-image:none;display:inline;list-style-type:none;padding:0.5em;}.pager-current{font-weight:bold;}.tips{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-size:0.9em;}dl.multiselect dd.b,dl.multiselect dd.b .form-item,dl.multiselect dd.b select{font-family:inherit;font-size:inherit;width:14em;}dl.multiselect dd.a,dl.multiselect dd.a .form-item{width:8em;}dl.multiselect dt,dl.multiselect dd{float:left;
  line-height:1.75em;padding:0;margin:0 1em 0 0;}dl.multiselect .form-item{height:1.75em;margin:0;}
.container-inline div,.container-inline label{display:inline;}
ul.primary{border-collapse:collapse;padding:0 0 0 1em;
  white-space:nowrap;list-style:none;margin:5px;height:auto;line-height:normal;border-bottom:1px solid #bbb;}ul.primary li{display:inline;}ul.primary li a{background-color:#ddd;border-color:#bbb;border-width:1px;border-style:solid solid none solid;height:auto;margin-right:0.5em;
  padding:0 1em;text-decoration:none;}ul.primary li.active a{background-color:#fff;border:1px solid #bbb;border-bottom:#fff 1px solid;}ul.primary li a:hover{background-color:#eee;border-color:#ccc;border-bottom-color:#eee;}ul.secondary{border-bottom:1px solid #bbb;padding:0.5em 1em;margin:5px;}ul.secondary li{display:inline;padding:0 1em;border-right:1px solid #ccc;}ul.secondary a{padding:0;text-decoration:none;}ul.secondary a.active{border-bottom:4px solid #999;}

#autocomplete{position:absolute;border:1px solid;overflow:hidden;z-index:100;}#autocomplete ul{margin:0;padding:0;list-style:none;}#autocomplete li{background:#fff;color:#000;white-space:pre;cursor:default;}#autocomplete li.selected{background:#0072b9;color:#fff;}
html.js input.form-autocomplete{background-image:url(/misc/throbber.gif);background-repeat:no-repeat;background-position:100% 2px;}html.js input.throbbing{background-position:100% -18px;}
html.js fieldset.collapsed{border-bottom-width:0;border-left-width:0;border-right-width:0;margin-bottom:0;height:1em;}html.js fieldset.collapsed *{display:none;}html.js fieldset.collapsed legend{display:block;}html.js fieldset.collapsible legend a{padding-left:15px;
  background:url(/misc/menu-expanded.png) 5px 75% no-repeat;}html.js fieldset.collapsed legend a{background-image:url(/misc/menu-collapsed.png);
  background-position:5px 50%;}
* html.js fieldset.collapsed legend,* html.js fieldset.collapsed legend *,* html.js fieldset.collapsed table *{display:inline;}
html.js fieldset.collapsible{position:relative;}html.js fieldset.collapsible legend a{display:block;}
html.js fieldset.collapsible .fieldset-wrapper{overflow:auto;}
.resizable-textarea{width:95%;}.resizable-textarea .grippie{height:9px;overflow:hidden;background:#eee url(/misc/grippie.png) no-repeat center 2px;border:1px solid #ddd;border-top-width:0;cursor:s-resize;}html.js .resizable-textarea textarea{margin-bottom:0;width:100%;display:block;}
.draggable a.tabledrag-handle{cursor:move;float:left;
  height:1.7em;margin:-0.4em 0 -0.4em -0.5em;
  padding:0.42em 1.5em 0.42em 0.5em;
  text-decoration:none;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{margin-top:4px;height:13px;width:13px;background:url(/misc/draggable.png) no-repeat 0 0;}a.tabledrag-handle-hover .handle{background-position:0 -20px;}
.joined + .grippie{height:5px;background-position:center 1px;margin-bottom:-2px;}
.teaser-checkbox{padding-top:1px;}div.teaser-button-wrapper{float:right;
  padding-right:5%;
  margin:0;}.teaser-checkbox div.form-item{float:right;
  margin:0 5% 0 0;
  padding:0;}textarea.teaser{display:none;}html.js .no-js{display:none;}
.progress{font-weight:bold;}.progress .bar{background:#fff url(/misc/progress.gif);border:1px solid #00375a;height:1.5em;margin:0 0.2em;}.progress .filled{background:#0072b9;height:1em;border-bottom:0.5em solid #004a73;width:0%;}.progress .percentage{float:right;}.progress-disabled{float:left;}.ahah-progress{float:left;}.ahah-progress .throbber{width:15px;height:15px;margin:2px;background:transparent url(/misc/throbber.gif) no-repeat 0px -18px;float:left;}tr .ahah-progress .throbber{margin:0 2px;}.ahah-progress-bar{width:16em;}
#first-time strong{display:block;padding:1.5em 0 .5em;}
tr.selected td{background:#ffc;}
table.sticky-header{margin-top:0;background:#fff;}
#clean-url.install{display:none;}
html.js .js-hide{display:none;}
#system-modules div.incompatible{font-weight:bold;}
#system-themes-form div.incompatible{font-weight:bold;}
span.password-strength{visibility:hidden;}input.password-field{margin-right:10px;}div.password-description{padding:0 2px;margin:4px 0 0 0;font-size:0.85em;max-width:500px;}div.password-description ul{margin-bottom:0;}.password-parent{margin:0 0 0 0;}
input.password-confirm{margin-right:10px;}.confirm-parent{margin:5px 0 0 0;}span.password-confirm{visibility:hidden;}span.password-confirm span{font-weight:normal;}

ul.menu{list-style:none;border:none;text-align:left;}ul.menu li{margin:0 0 0 0.5em;}li.expanded{list-style-type:circle;list-style-image:url(/misc/menu-expanded.png);padding:0.2em 0.5em 0 0;
  margin:0;}li.collapsed{list-style-type:disc;list-style-image:url(/misc/menu-collapsed.png);
  padding:0.2em 0.5em 0 0;
  margin:0;}li.leaf{list-style-type:square;list-style-image:url(/misc/menu-leaf.png);padding:0.2em 0.5em 0 0;
  margin:0;}li a.active{color:#000;}td.menu-disabled{background:#ccc;}ul.links{margin:0;padding:0;}ul.links.inline{display:inline;}ul.links li{display:inline;list-style-type:none;padding:0 0.5em;}.block ul{margin:0;padding:0 0 0.25em 1em;}

#permissions td.module{font-weight:bold;}#permissions td.permission{padding-left:1.5em;}#access-rules .access-type,#access-rules .rule-type{margin-right:1em;
  float:left;}#access-rules .access-type .form-item,#access-rules .rule-type .form-item{margin-top:0;}#access-rules .mask{clear:both;}#user-login-form{text-align:center;}#user-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#user-admin-buttons{float:left;
  margin-left:0.5em;
  clear:right;}#user-admin-settings fieldset .description{font-size:0.85em;padding-bottom:.5em;}
.profile{clear:both;margin:1em 0;}.profile .picture{float:right;
  margin:0 1em 1em 0;}.profile h3{border-bottom:1px solid #ccc;}.profile dl{margin:0 0 1.5em 0;}.profile dt{margin:0 0 0.2em 0;font-weight:bold;}.profile dd{margin:0 0 1em 0;}


.field .field-label,.field .field-label-inline,.field .field-label-inline-first{font-weight:bold;}.field .field-label-inline,.field .field-label-inline-first{display:inline;}.field .field-label-inline{visibility:hidden;}
.node-form .content-multiple-table td.content-multiple-drag{width:30px;padding-right:0;}.node-form .content-multiple-table td.content-multiple-drag a.tabledrag-handle{padding-right:.5em;}.node-form .content-add-more .form-submit{margin:0;}.node-form .number{display:inline;width:auto;}.node-form .text{width:auto;}
.form-item #autocomplete .reference-autocomplete{white-space:normal;}.form-item #autocomplete .reference-autocomplete label{display:inline;font-weight:normal;}
#content-field-overview-form .advanced-help-link,#content-display-overview-form .advanced-help-link{margin:4px 4px 0 0;}#content-field-overview-form .label-group,#content-display-overview-form .label-group,#content-copy-export-form .label-group{font-weight:bold;}table#content-field-overview .label-add-new-field,table#content-field-overview .label-add-existing-field,table#content-field-overview .label-add-new-group{float:left;}table#content-field-overview tr.content-add-new .tabledrag-changed{display:none;}table#content-field-overview tr.content-add-new .description{margin-bottom:0;}table#content-field-overview .content-new{font-weight:bold;padding-bottom:.5em;}
.advanced-help-topic h3,.advanced-help-topic h4,.advanced-help-topic h5,.advanced-help-topic h6{margin:1em 0 .5em 0;}.advanced-help-topic dd{margin-bottom:.5em;}.advanced-help-topic span.code{background-color:#EDF1F3;font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;font-size:0.9em;padding:1px;}.advanced-help-topic .content-border{border:1px solid #AAA}
.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#FFFFDD none repeat scroll 0 0;border:1px solid #F0C020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;}
.container-inline-date{width:auto;clear:both;display:inline-block;vertical-align:top;margin-right:0.5em;}.container-inline-date .form-item{float:none;padding:0;margin:0;}.container-inline-date .form-item .form-item{float:left;}.container-inline-date .form-item,.container-inline-date .form-item input{width:auto;}.container-inline-date .description{clear:both;}.container-inline-date .form-item input,.container-inline-date .form-item select,.container-inline-date .form-item option{margin-right:5px;}.container-inline-date .date-spacer{margin-left:-5px;}.views-right-60 .container-inline-date div{padding:0;margin:0;}.container-inline-date .date-timezone .form-item{float:none;width:auto;clear:both;}
#calendar_div,#calendar_div td,#calendar_div th{margin:0;padding:0;}#calendar_div,.calendar_control,.calendar_links,.calendar_header,.calendar{width:185px;border-collapse:separate;margin:0;}.calendar td{padding:0;}
span.date-display-single{}span.date-display-start{}span.date-display-end{}span.date-display-separator{}.date-repeat-input{float:left;
  width:auto;margin-right:5px;}.date-repeat-input select{min-width:7em;}.date-repeat fieldset{clear:both;float:none;}.date-views-filter-wrapper{min-width:250px;}.date-views-filter input{float:left !important;
  margin-right:2px !important;
  padding:0 !important;width:12em;min-width:12em;}.date-nav{width:100%;}.date-nav div.date-prev{text-align:left;
  width:24%;float:left;}.date-nav div.date-next{text-align:right;
  width:24%;float:right;}.date-nav div.date-heading{text-align:center;width:50%;float:left;}.date-nav div.date-heading h3{margin:0;padding:0;}.date-clear{float:none;clear:both;display:block;}.date-clear-block{float:none;width:auto;clear:both;} 	 
 .date-clear-block:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}.date-clear-block{display:inline-block;}/* Hides from IE-mac \*/ 	 
 * html .date-clear-block{height:1%;}.date-clear-block{display:block;}

.date-container .date-format-delete{margin-top:1.8em;margin-left:1.5em;float:left;}.date-container .date-format-name{float:left;}.date-container .date-format-type{float:left;padding-left:10px;}.date-container .select-container{clear:left;float:left;}
div.date-calendar-day{line-height:1;width:40px;float:left;margin:6px 10px 0 0;background:#F3F3F3;border-top:1px solid #eee;border-left:1px solid #eee;border-right:1px solid #bbb;border-bottom:1px solid #bbb;color:#999;text-align:center;font-family:Georgia,Arial,Verdana,sans;}div.date-calendar-day span{display:block;text-align:center;}div.date-calendar-day span.month{font-size:.9em;background-color:#B5BEBE;color:white;padding:2px;text-transform:uppercase;}div.date-calendar-day span.day{font-weight:bold;font-size:2em;}div.date-calendar-day span.year{font-size:.9em;padding:2px;}






.filefield-icon{float:left;
  margin-right:0.4em;}


.filefield-element{margin:1em 0;white-space:normal;}.filefield-element .widget-preview{float:left;
  padding-right:10px;
  border-right:1px solid #CCC;
  margin-right:10px;
  max-width:30%;}.filefield-element .widget-edit{float:left;
  max-width:70%;}.filefield-element .filefield-preview{width:16em;overflow:hidden;}.filefield-element .widget-edit .form-item{margin:0 0 1em 0;}.filefield-element input.form-submit,.filefield-element input.form-file{margin:0;}.filefield-element input.progress-disabled{float:none;display:inline;}.filefield-element div.ahah-progress,.filefield-element div.throbber{display:inline;float:none;padding:1px 13px 2px 3px;}.filefield-element div.ahah-progress-bar{display:none;margin-top:4px;width:28em;padding:0;}.filefield-element div.ahah-progress-bar div.bar{margin:0;}



.filefield-generic-edit .filefield-icon{float:left;
  margin-right:0.7em;
  margin-top:0.3em;}.filefield-generic-edit-description{margin-right:6em;}
.filefield-generic-edit .form-text{width:99%;}.filefield-generic-edit .description{white-space:normal;margin-bottom:0;overflow:auto;}

form.fivestar-widget{clear:both;display:block;}form.fivestar-widget select,form.fivestar-widget input{margin:0;}
.fivestar-combo-stars .fivestar-static-form-item{float:left;
  margin-right:40px;}.fivestar-combo-stars .fivestar-form-item{float:left;}
.fivestar-static-form-item .form-item,.fivestar-form-item .form-item{margin:0;}
div.fivestar-widget-static{display:block;}div.fivestar-widget-static br{clear:left;}div.fivestar-widget-static .star{float:left;
  width:17px;height:16px;overflow:hidden;text-indent:-999em;background:url(/sites/all/modules/fivestar/widgets/default/star.gif) no-repeat 0 0;}div.fivestar-widget-static .star span.on{display:block;width:100%;height:100%;background:url(/sites/all/modules/fivestar/widgets/default/star.gif) no-repeat 0 -32px;}div.fivestar-widget-static .star span.off{display:block;width:100%;height:100%;background:url(/sites/all/modules/fivestar/widgets/default/star.gif) no-repeat 0 0;}
div.fivestar-widget-static-recipe{display:block;}div.fivestar-widget-static-recipe br{clear:left;}div.fivestar-widget-static-recipe .star{float:left;
  width:29px;height:26px;overflow:hidden;text-indent:-999em;background:url(/sites/all/modules/fivestar/widgets/default/voted_img.gif) no-repeat 0 0;}div.fivestar-widget-static-recipe .star span.on{display:block;width:100%;height:100%;background:url(/sites/all/modules/fivestar/widgets/default/voted_img.gif) no-repeat 0 -52px;}div.fivestar-widget-static-recipe .star span.off{display:block;width:100%;height:100%;background:url(/sites/all/modules/fivestar/widgets/default/voted_img.gif) no-repeat 0 0;}
div.fivestar-widget{display:block;}div.fivestar-widget .cancel,div.fivestar-widget .star{float:left;
  width:17px;height:16px;overflow:hidden;text-indent:-999em;}div.fivestar-widget .cancel,div.fivestar-widget .cancel a{background:url(/sites/all/modules/fivestar/widgets/default/delete.gif) no-repeat 0 -16px;
  text-decoration:none;display:none;}div.fivestar-widget .star,div.fivestar-widget .star a{background:url(/sites/all/modules/fivestar/widgets/default/star.gif) no-repeat 0 0;
  text-decoration:none;}div.fivestar-widget .cancel a,div.fivestar-widget .star a{display:block;width:100%;height:100%;background-position:0 0;
  cursor:pointer;}div.fivestar-widget div.on a{background-position:0 -16px;}div.fivestar-widget div.hover a,div.rating div a:hover{background-position:0 -32px;}form.fivestar-widget div.description{margin-bottom:0;}

#forum .description{font-size:0.9em;margin:0.5em;}#forum td.created,#forum td.posts,#forum td.topics,#forum td.last-reply,#forum td.replies,#forum td.pager{white-space:nowrap;}#forum td.posts,#forum td.topics,#forum td.replies,#forum td.pager{text-align:center;}#forum tr td.forum{padding-left:25px;
  background-position:2px 2px;
  background-image:url(/misc/forum-default.png);background-repeat:no-repeat;}#forum tr.new-topics td.forum{background-image:url(/misc/forum-new.png);}#forum div.indent{margin-left:20px;}.forum-topic-navigation{padding:1em 0 0 3em;
  border-top:1px solid #888;border-bottom:1px solid #888;text-align:center;padding:0.5em;}.forum-topic-navigation .topic-previous{text-align:right;
  float:left;
  width:46%;}.forum-topic-navigation .topic-next{text-align:left;
  float:right;
  width:46%;}

div.fieldgroup{margin:.5em 0 1em 0;}div.fieldgroup .content{padding-left:1em;}
#resource-form-table th.select-all{width:1em;}th.resource_test{width:16em;}.resource-image{display:inline-block;cursor:pointer;width:1em;}.resource-group-label label{display:inline;font-weight:bold;}.resource-test-label label{margin-left:1em;}.resource-test-description .description{margin:0;}#resource-form-table tr td{background-color:white;color:#494949;}#resource-form-table tr.resource-group td{background-color:#EDF5FA;color:#494949;}table#resource-form-table tr.resource-group label{display:inline;}div.message > div.item-list{font-weight:normal;}a.resource-collapse{height:0;width:0;top:-99em;position:absolute;}a.resource-collapse:focus,a.resource-collapse:hover{font-size:80%;top:0px;height:auto;width:auto;overflow:visible;position:relative;z-index:1000;}td.resource-group-alias{width:130px;}
#resource-form-table tr.resource-even td{background:none repeat scroll 0 0 #F3F4EE;}


.taxonomy-super-select-checkboxes{clear:both;padding-top:1em;}.taxonomy-super-select-checkboxes .form-item label.option{float:left;margin-right:1.5em;}.taxonomy-super-select-radios{clear:both;padding-top:1em;}.taxonomy-super-select-radios .form-item label.option{float:left;margin-right:1.5em;}.taxonomy-super-select-radios .description{clear:both;}.taxonomy-super-select-help{display:block;font-style:italic;margin-left:1em;}#taxonomy-form-vocabulary .taxonomy-super-select-radios{padding-top:0;}#taxonomy-form-vocabulary .form-radios{margin-top:0;}#taxonomy-form-vocabulary .form-item{margin-top:0;}.taxonomy-super-select-image .form-item{display:inline;}




body{margin:0;padding:0;background:#edf5fa;font:12px/170% Verdana,sans-serif;color:#494949;}input{font:12px/100% Verdana,sans-serif;color:#494949;}textarea,select{font:12px/160% Verdana,sans-serif;color:#494949;}h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:normal;font-family:Helvetica,Arial,sans-serif;}h1{font-size:170%;}h2{font-size:160%;line-height:130%;}h3{font-size:140%;}h4{font-size:130%;}h5{font-size:120%;}h6{font-size:110%;}ul,quote,code,fieldset{margin:.5em 0;}p{margin:0.6em 0 1.2em;padding:0;}a:link,a:visited{color:#027AC6;text-decoration:none;}a:hover{color:#0062A0;text-decoration:underline;}a:active,a.active{color:#5895be;}hr{margin:0;padding:0;border:none;height:1px;background:#5294c1;}ul{margin:0.5em 0 1em;padding:0;}ol{margin:0.75em 0 1.25em;padding:0;}ol li,ul li{margin:0.4em 0 0.4em .5em;}ul.menu,.item-list ul{margin:0.35em 0 0 -0.5em;
  padding:0;}ul.menu ul,.item-list ul ul{margin-left:0em;}ol li,ul li,ul.menu li,.item-list ul li,li.leaf{margin:0.15em 0 0.15em .5em;}ul li,ul.menu li,.item-list ul li,li.leaf{padding:0 0 .2em 1.5em;list-style-type:none;list-style-image:none;background:transparent url(/themes/garland/images/menu-leaf.gif) no-repeat 1px .35em;}ol li{padding:0 0 .3em;margin-left:2em;}ul li.expanded{background:transparent url(/themes/garland/images/menu-expanded.gif) no-repeat 1px .35em;}ul li.collapsed{background:transparent url(/themes/garland/images/menu-collapsed.gif) no-repeat 0px .35em;}ul li.leaf a,ul li.expanded a,ul li.collapsed a{display:block;}ul.inline li{background:none;margin:0;padding:0 1em 0 0;}ol.task-list{margin-left:0;
  list-style-type:none;list-style-image:none;}ol.task-list li{padding:0.5em 1em 0.5em 2em;}ol.task-list li.active{background:transparent url(/themes/garland/images/task-list.png) no-repeat 3px 50%;}ol.task-list li.done{color:#393;background:transparent url(/misc/watchdog-ok.png) no-repeat 0px 50%;}ol.task-list li.active{margin-right:1em;}fieldset ul.clear-block li{margin:0;padding:0;background-image:none;}dl{margin:0.5em 0 1em 1.5em;}dl dt{}dl dd{margin:0 0 .5em 1.5em;}img,a img{border:none;}table{margin:1em 0;width:100%;}thead th{border-bottom:2px solid #d3e7f4;color:#494949;font-weight:bold;}th a:link,th a:visited{color:#6f9dbd;}td,th{padding:.3em .5em;}tr.even,tr.odd,tbody th{border:solid #d3e7f4;border-width:1px 0;}tr.odd,tr.info{background-color:#edf5fa;}tr.even{background-color:#fff;}tr.drag{background-color:#fffff0;}tr.drag-previous{background-color:#ffd;}tr.odd td.active{background-color:#ddecf5;}tr.even td.active{background-color:#e6f1f7;}td.region,td.module,td.container,td.category{border-top:1.5em solid #fff;border-bottom:1px solid #b4d7f0;background-color:#d4e7f3;color:#455067;font-weight:bold;}tr:first-child td.region,tr:first-child td.module,tr:first-child td.container,tr:first-child td.category{border-top-width:0;}span.form-required{color:#ffae00;}span.submitted,.description{font-size:0.92em;color:#898989;}.description{line-height:150%;margin-bottom:0.75em;color:#898989;}.messages,.preview{margin:.75em 0 .75em;padding:.5em 1em;}.messages ul{margin:0;}.form-checkboxes,.form-radios,.form-checkboxes .form-item,.form-radios .form-item{margin:0.25em 0;}#center form{margin-bottom:2em;}.form-button,.form-submit{margin:2em 0.5em 1em 0;}#dblog-form-overview .form-submit,.confirmation .form-submit,.search-form .form-submit,.poll .form-submit,fieldset .form-button,fieldset .form-submit,.sidebar .form-button,.sidebar .form-submit,table .form-button,table .form-submit{margin:0;}.box{margin-bottom:2.5em;}
#header-region{min-height:1em;background:#d2e6f3 url(/themes/garland/images/bg-navigation.png) repeat-x 50% 100%;}#header-region .block{display:block;margin:0 1em;}#header-region .block-region{display:block;margin:0 0.5em 1em;padding:0.5em;position:relative;top:0.5em;}#header-region *{display:inline;line-height:1.5em;margin-top:0;margin-bottom:0;}
#header-region script{display:none;}#header-region p,#header-region img{margin-top:0.5em;}#header-region h2{margin:0 1em 0 0;}#header-region h3,#header-region label,#header-region li{margin:0 1em;padding:0;background:none;}#wrapper{background:#edf5fa url(/themes/garland/images/body.png) repeat-x 50% 0;}#wrapper #container{margin:0 auto;padding:0 20px;max-width:1270px;}#wrapper #container #header{height:80px;}#wrapper #container #header #logo-floater{position:absolute;}#wrapper #container #header h1,#wrapper #container #header h1 a:link,#wrapper #container #header h1 a:visited{line-height:120px;position:relative;z-index:2;white-space:nowrap;}#wrapper #container #header h1 span{font-weight:bold;}#wrapper #container #header h1 img{padding-top:14px;padding-right:20px;
  float:left;}
body.sidebars{min-width:980px;}
body.sidebar-left,body.sidebar-right{min-width:780px;}
#wrapper #container #center{float:left;width:100%;}
body.sidebar-left #center{margin-left:-210px;}body.sidebar-right #center{margin-right:-210px;}body.sidebars #center{margin:0 -210px;}
body.sidebar-left #squeeze{margin-left:210px;}body.sidebar-right #squeeze{margin-right:210px;}body.sidebars #squeeze{margin:0 210px;}
#wrapper #container .sidebar{margin:60px 0 5em;width:210px;float:left;z-index:2;position:relative;}#wrapper #container .sidebar .block{margin:0 0 1.5em 0;}#sidebar-left .block{padding:0 15px 0 0px;}#sidebar-right .block{padding:0 0px 0 15px;}.block .content{margin:0.5em 0;}#sidebar-left .block-region{margin:0 15px 0 0px;}#sidebar-right .block-region{margin:0 0px 0 15px;}.block-region{padding:1em;background:transparent;border:2px dashed #b4d7f0;text-align:center;font-size:1.3em;}
#wrapper #container #center #squeeze{background:#fff url(/themes/garland/images/bg-content.png) repeat-x 50% 0;position:relative;}#wrapper #container #center .right-corner{background:transparent url(/themes/garland/images/bg-content-right.png) no-repeat 100% 0;position:relative;left:10px;}#wrapper #container #center .right-corner .left-corner{padding:60px 25px 5em 35px;background:transparent url(/themes/garland/images/bg-content-left.png) no-repeat 0 0;margin-left:-10px;position:relative;left:-10px;min-height:400px;}#wrapper #container #footer{float:none;clear:both;text-align:center;margin:4em 0 -3em;color:#898989;}#wrapper #container .breadcrumb{position:absolute;top:15px;left:35px;
  z-index:3;}body.sidebar-left #footer{margin-left:-210px;}body.sidebar-right #footer{margin-right:-210px;}body.sidebars #footer{margin:0 -210px;}
#wrapper #container #header h1,#wrapper #container #header h1 a:link,#wrapper #container #header h1 a:visited{color:#fff;font-weight:normal;text-shadow:#1659ac 0px 1px 3px;font-size:1.5em;}#wrapper #container #header h1 a:hover{text-decoration:none;}#wrapper #container .breadcrumb{font-size:0.92em;}#wrapper #container .breadcrumb,#wrapper #container .breadcrumb a{color:#529ad6;}#mission{padding:1em;background-color:#fff;border:1px solid #e0e5fb;margin-bottom:2em;}
ul.primary-links{margin:0;padding:0;float:right;
  position:relative;z-index:4;}ul.primary-links li{margin:0;padding:0;float:left;
  background-image:none;}ul.primary-links li a,ul.primary-links li a:link,ul.primary-links li a:visited{display:block;margin:0 1em;padding:.75em 0 0;color:#fff;background:transparent url(/themes/garland/images/bg-navigation-item.png) no-repeat 50% 0;}ul.primary-links li a:hover,ul.primary-links li a.active{color:#fff;background:transparent url(/themes/garland/images/bg-navigation-item-hover.png) no-repeat 50% 0;}
ul.secondary-links{margin:0;padding:18px 0 0;float:right;
  clear:right;
  position:relative;z-index:4;}ul.secondary-links li{margin:0;padding:0;float:left;
  background-image:none;}ul.secondary-links li a,ul.secondary-links li a:link,ul.secondary-links li a:visited{display:block;margin:0 1em;padding:.75em 0 0;color:#cde3f1;background:transparent;}ul.secondary-links li a:hover,ul.secondary-links li a.active{color:#cde3f1;background:transparent;}
ul.primary,ul.primary li,ul.secondary,ul.secondary li{border:0;background:none;margin:0;padding:0;}#tabs-wrapper{margin:0 -26px 1em;padding:0 26px;border-bottom:1px solid #e9eff3;position:relative;}ul.primary{padding:0.5em 0 10px;float:left;}ul.secondary{clear:both;text-align:left;
  border-bottom:1px solid #e9eff3;margin:-0.2em -26px 1em;padding:0 26px 0.6em;}h2.with-tabs{float:left;
  margin:0 2em 0 0;
  padding:0;}ul.primary li a,ul.primary li.active a,ul.primary li a:hover,ul.primary li a:visited,ul.secondary li a,ul.secondary li.active a,ul.secondary li a:hover,ul.secondary li a:visited{border:0;background:transparent;padding:4px 1em;margin:0 0 0 1px;
  height:auto;text-decoration:none;position:relative;top:-1px;display:inline-block;}ul.primary li.active a,ul.primary li.active a:link,ul.primary li.active a:visited,ul.primary li a:hover,ul.secondary li.active a,ul.secondary li.active a:link,ul.secondary li.active a:visited,ul.secondary li a:hover{background:url(/themes/garland/images/bg-tab.png) repeat-x 0 50%;color:#fff;}ul.primary li.active a,ul.secondary li.active a{font-weight:bold;}
.node{border-bottom:1px solid #e9eff3;margin:0 -26px 1.5em;padding:1.5em 26px;}ul.links li,ul.inline li{margin-left:0;margin-right:0;padding-left:0;
  padding-right:1em;
  background-image:none;}.node .links,.comment .links{text-align:left;}.node .links ul.links li,.comment .links ul.links li{}.terms ul.links li{margin-left:0;margin-right:0;padding-right:0;padding-left:1em;}.picture,.comment .submitted{float:right;
  clear:right;
  padding-left:1em;}.new{color:#ffae00;font-size:0.92em;font-weight:bold;float:right;}.terms{float:right;}.preview .node,.preview .comment,.sticky{margin:0;padding:0.5em 0;border:0;background:0;}.sticky{padding:1em;background-color:#fff;border:1px solid #e0e5fb;margin-bottom:2em;}#comments{position:relative;top:-1px;border-bottom:1px solid #e9eff3;margin:-1.5em -25px 0;padding:0 25px;}#comments h2.comments{margin:0 -25px;padding:.5em 25px;background:#fff url(/themes/garland/images/gradient-inner.png) repeat-x 0 0;}.comment{margin:0 -25px;padding:1.5em 25px 1.5em;border-top:1px solid #e9eff3;}.indented{margin-left:25px;}.comment h3 a.active{color:#494949;}.node .content,.comment .content{margin:0.6em 0;}
#aggregator{margin-top:1em;}#aggregator .feed-item-title{font-size:160%;line-height:130%;}#aggregator .feed-item{border-bottom:1px solid #e9eff3;margin:-1.5em -31px 1.75em;padding:1.5em 31px;}#aggregator .feed-item-categories{font-size:0.92em;}#aggregator .feed-item-meta{font-size:0.92em;color:#898989;}
#palette .form-item{border:1px solid #fff;}#palette .item-selected{background:#fff url(/themes/garland/images/gradient-inner.png) repeat-x 0 0;border:1px solid #d9eaf5;}
tr.menu-disabled{opacity:0.5;}tr.odd td.menu-disabled{background-color:#edf5fa;}tr.even td.menu-disabled{background-color:#fff;}
.poll .bar{background:#fff url(/themes/garland/images/bg-bar-white.png) repeat-x 0 0;border:solid #f0f0f0;border-width:0 1px 1px;}.poll .bar .foreground{background:#71a7cc url(/themes/garland/images/bg-bar.png) repeat-x 0 100%;}.poll .percent{font-size:.9em;}
#autocomplete li{cursor:default;padding:2px;margin:0;}
fieldset{margin:1em 0;padding:1em;border:1px solid #d9eaf5;background:#fff url(/themes/garland/images/gradient-inner.png) repeat-x 0 0;}
*:first-child+html fieldset{padding:0 1em 1em;background-position:0 .75em;background-color:transparent;}*:first-child+html fieldset > .description,*:first-child+html fieldset .fieldset-wrapper .description{padding-top:1em;}fieldset legend{
  display:block;}*:first-child+html fieldset legend,*:first-child+html fieldset.collapsed legend{display:inline;}html.js fieldset.collapsed{background:transparent;padding-top:0;padding-bottom:.6em;}html.js fieldset.collapsible legend a{padding-left:2em;
  background:url(/themes/garland/images/menu-expanded.gif) no-repeat 0% 50%;}html.js fieldset.collapsed legend a{background:url(/themes/garland/images/menu-collapsed.gif) no-repeat 0% 50%;}
#block-node-0 h2{float:left;
  padding-right:20px;}#block-node-0 img,.feed-icon{float:right;
  padding-top:4px;}#block-node-0 .content{clear:right;}
#user-login-form{text-align:center;}#user-login-form ul{text-align:left;}
.profile{margin-top:1.5em;}.profile h3{border-bottom:0;margin-bottom:1em;}.profile dl{margin:0;}.profile dt{font-weight:normal;color:#898989;font-size:0.92em;line-height:1.3em;margin-top:1.4em;margin-bottom:0.45em;}.profile dd{margin-bottom:1.6em;}
div.admin-panel,div.admin-panel .description,div.admin-panel .body,div.admin,div.admin .left,div.admin .right,div.admin .expert-link,div.item-list,.menu{margin:0;padding:0;}div.admin .left{float:left;
  width:48%;}div.admin .right{float:right;
  width:48%;}div.admin-panel{background:#fff url(/themes/garland/images/gradient-inner.png) repeat-x 0 0;padding:1em 1em 1.5em;}div.admin-panel .description{margin-bottom:1.5em;}div.admin-panel dl{margin:0;}div.admin-panel dd{color:#898989;font-size:0.92em;line-height:1.3em;margin-top:-.2em;margin-bottom:.65em;}table.system-status-report th{border-color:#d3e7f4;}#autocomplete li.selected,tr.selected td,tr.selected td.active{background:#027ac6;color:#fff;}tr.selected td a:link,tr.selected td a:visited,tr.selected td a:active{color:#d3e7f4;}tr.taxonomy-term-preview{opacity:0.5;}tr.taxonomy-term-divider-top{border-bottom:none;}tr.taxonomy-term-divider-bottom{border-top:1px dotted #CCC;}




.messages{background-color:#fff;border:1px solid #b8d3e5;}.preview{background-color:#fcfce8;border:1px solid #e5e58f;}div.status{color:#33a333;border-color:#c7f2c8;}div.error,tr.error{color:#a30000;background-color:#FFCCCC;}.form-item input.error,.form-item textarea.error{border:1px solid #c52020;color:#363636;}
tr.dblog-user{background-color:#fcf9e5;}tr.dblog-user td.active{background-color:#fbf5cf;}tr.dblog-content{background-color:#fefefe;}tr.dblog-content td.active{background-color:#f5f5f5;}tr.dblog-warning{background-color:#fdf5e6;}tr.dblog-warning td.active{background-color:#fdf2de;}tr.dblog-error{background-color:#fbe4e4;}tr.dblog-error td.active{background-color:#fbdbdb;}tr.dblog-page-not-found,tr.dblog-access-denied{background:#d7ffd7;}tr.dblog-page-not-found td.active,tr.dblog-access-denied td.active{background:#c7eec7;}
table.system-status-report tr.error,table.system-status-report tr.error th{background-color:#fcc;border-color:#ebb;color:#200;}table.system-status-report tr.warning,table.system-status-report tr.warning th{background-color:#ffd;border-color:#eeb;}table.system-status-report tr.ok,table.system-status-report tr.ok th{background-color:#dfd;border-color:#beb;}