<div id="news_p">
                        <div id="news_p_b">
                       	  <div id="news_border">
                       	  	<div id="news_p_content" class="news_p_content_font">
                   		  	  <div class="divatips_p_title">
                           		<a href="#">%title%</a>
       		     			 </div>
                                    <div style="float: left; width: 170px; margin: 13px 0 8px 0;">
                                   %voting%
                                    </div>
                       		  <div class="new_p_posted">
                   			  by <a href="/?q=users/%author%" title="View user profile.">%author%</a> Submitted %date_created%</div>
                              <div id="img_contain">
                                <img src="../%image%" width="614" height="355" />
                                <div id="news_p_menu" style="visibility: visible;">
                           	  <div style="padding: 0 0 0 171px;"><a href="#"><img src="../sites/all/themes/recipe_diva/images/border/Revies_tab02.gif" width="451" height="58" /></a>
                                   		<div style="float: left; position: absolute; right: 0; top: 0;">
                                        	<a href="#"><img src="../sites/all/themes/recipe_diva/images/border/Recipes_tab01.gif" width="622" height="58" /></a>
                                      </div>
								</div>
                                </div>
                              </div>
                            <div id="individual_p_b">
                              <div id="individual_p_content">
                           	  	  <div id="individual_l_col">
                                  	<div id="individual_p_title_contain">
                               	  		<div id="individual_p_title" class="individual_title">
                                        	Ingredients
                                      </div>
                                  		<div id="add_all_ingredients">
                               	      		%link_add_all_grocery%
                                      	</div>
                                    </div>
                                    <div class="ingredients_content">
                                        %ingredients_content%
                                    </div>    
                                  </div>
                                  <div style="float: left; width: 265px; height: 141px; background: url(images/bg/individual_t%C3%ADp_bg.gif) left no-repeat;">
                                  		<div style="padding: 15px 0 0 10px;">
                           		    <div id="individual_tips_l_contain">
                                            	<div id="individual_tips_contain">
                                                	<div id="icon_contain">
                                                    	<img src="../sites/all/themes/recipe_diva/images/icon/01.gif" width="17" height="12" />
                                                    </div>
                                                    <a href="#">Add to Recipe Box</a>
                                                </div>
                                                <div id="individual_tips_contain">
                                                	<div id="icon_contain">
                                                    	<img src="../sites/all/themes/recipe_diva/images/icon/02.gif" width="13" height="10" />
                                                    </div>
                                                    <a href="#">Add to Grocery List</a>
                                              </div>
                                                <div id="individual_tips_contain">
                                                	<div id="icon_contain">
                                                    	<img src="../sites/all/themes/recipe_diva/images/icon/03.gif" width="12" height="12" />
                                                    </div>
                                                    <a href="#">Write Review</a>
                                                </div>
	                                  		</div>
                                    <div id="individual_tips_r_contain">
                                            	<div id="individual_tips_contain">
                                                	<div id="icon_contain">
                                                    	<img src="../sites/all/themes/recipe_diva/images/icon/04.gif" width="18" height="15" />
                                                    </div>
                                                    <a href="#">Customize Recipe</a>
                                                </div>
                                                <div id="individual_tips_contain">
                                                	<div id="icon_contain">
                                                    	<img src="../sites/all/themes/recipe_diva/images/icon/05.gif" width="16" height="15" />
                                                    </div>
                                                    <a href="#">Email Recipe</a>
                                                </div>
                                                <div id="individual_tips_contain">
                                               	  	<div id="icon_contain">
                                                    	&nbsp;&nbsp;<img src="../sites/all/themes/recipe_diva/images/icon/06.gif" width="12" height="12" />
                                                    </div>
                                                    <a href="#">Print Recipe</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="padding: 15px 0 0 10px;">
                                        	<div style="float: left; width: 130px;">123</div>
                                            <div style="float: left; width: 125px;">321</div>
                                        </div>
                                  </div>
                              </div>
                                
                              <div id="divatiptab_content" class="bg-none" style="float: left; position: relative;">
                               	  	<div id="divatiptab_vote" class="individual_title">
                                    	Method
                                </div>
                                    <div id="divatiptab_content_inner" style="width: 580px;">
                                      %preparation%
                                    </div>
                           	  </div>
                            </div>
                            
                          </div>
                         </div>
                        </div>
                    </div>