	<div id="Ingredients">
	       <div id="Ingredients_b">
	            <div id="Ingredients_content">
	                 <div id="Ingredients_content_inner">
	                     %ingredient%
	              	 </div>
	              	 <div id="img_seeall"><a href="#"><img src="%image_path%seeallingredients.jpg" width="123" height="24" /></a></div>
	            </div>
	      </div>
	</div>
	<div><img src="%image_path%space.gif" width="1" height="13" /></div>
	<!-- END Ingredients RECIPES -->
    
    <!-- START Courses RECIPES -->
    <div id="Ingredients">
       <div id="Courses_b">
       		<img src="%image_path%space.gif" height="50" width="1" />
       		<div id="Ingredients_content">
                 <div id="Ingredients_content_inner">
                     %courses%
              	 </div>
                 <div id="img_seeall"><a href="#"><img src="./sites/all/themes/recipe_diva/images/seeallcourses.jpg" width="106" height="24" /></a></div>
            </div>
      </div>
    </div>
    <div><img src="./sites/all/themes/recipe_diva/images/space.gif" width="1" height="13" /></div>
	<!-- END Courses RECIPES -->
    
    <!-- START Regional Cooking RECIPES -->
    <div id="Ingredients">
       <div id="RegionalCooking_b">
       		<img src="%image_path%space.gif" height="50" width="1" />
            <div id="Ingredients_content">
                 <div id="Ingredients_content_inner">
                    %regional%
              </div>
                 <div id="img_seeall"><a href="#"><img src="%image_path%seeallregoinal.jpg" width="154" height="20" /></a></div>
            </div>
      </div>
    </div>
    <div><img src="%image_path%space.gif" width="1" height="13" /></div>
	<!-- END Regional Cooking RECIPES -->

    <!-- START Cooking Method RECIPES -->
    <div id="Ingredients">
       <div id="Occasions_b">
       		<img src="%image_path%space.gif" height="50" width="1" />
            <div id="Ingredients_content">
                 <div id="Ingredients_content_inner">
                     %method%
              </div>
                 <div id="img_seeall"><a href="#"><img src="%image_path%seealloccasions.jpg" width="115" height="20" /></a></div>
            </div>
      </div>
    </div>
    <div><img src="%image_path%space.gif" width="1" height="13" /></div>
    <!-- END Cooking Method RECIPES -->
    
    <!-- START Occasions RECIPES -->
    <div id="Ingredients">
       <div id="Occasions_b">
       		<img src="%image_path%space.gif" height="50" width="1" />
            <div id="Ingredients_content">
                 <div id="Ingredients_content_inner">
                     %occasions%
              </div>
                 <div id="img_seeall"><a href="#"><img src="%image_path%seealloccasions.jpg" width="115" height="20" /></a></div>
            </div>
      </div>
    </div>
    <div><img src="%image_path%space.gif" width="1" height="13" /></div>
    <!-- END Occasions RECIPES -->
    
    <!-- START Convenience RECIPES -->
    <div id="Ingredients">
       <div id="Occasions_b">
       		<img src="%image_path%space.gif" height="50" width="1" />
            <div id="Ingredients_content">
                 <div id="Ingredients_content_inner">
                     %convenience%
              </div>
                 <div id="img_seeall"><a href="#"><img src="%image_path%seealloccasions.jpg" width="115" height="20" /></a></div>
            </div>
      </div>
    </div>
    <div><img src="%image_path%space.gif" width="1" height="13" /></div>
    <!-- END Convenience RECIPES -->
    
    <!-- START Dietary Restriction RECIPES -->
    <div id="Ingredients">
       <div id="Occasions_b">
       		<img src="%image_path%space.gif" height="50" width="1" />
            <div id="Ingredients_content">
                 <div id="Ingredients_content_inner">
                     %dietary%
              </div>
                 <div id="img_seeall"><a href="#"><img src="%image_path%seealloccasions.jpg" width="115" height="20" /></a></div>
            </div>
      </div>
    </div>
    <div><img src="%image_path%space.gif" width="1" height="13" /></div>
    <!-- END Dietary Restriction RECIPES -->
    