<div id="cookofweek">
    <div id="search_resault_m_b">
        	<div id="cow_content">
            		<div id="search_resault_contain" class="bg-none">
                    	<span style="vertical-align: bottom;">
                            <img src="%image_path%/label/sortby_lbl.gif" width="53" height="23" />
                        </span>
                        
                        	<img src="%image_path%/space.gif" width="10" height="20" />
                            <select name="select" id="select" style="width: 275px; height: 24px;">
                                    <option>select</option>
                                    <option>2</option>
                                    <option>3</option>
                            </select>
                    </div>
                    %search_result%                        
            </div>
     </div>
</div>