<div id="shop_recipe">
                    	<div id="shop_recipe_top">
                        	<div id="shop_recipe_top_title">
                       	    	<img width="103" height="17" src="%image_path%/space.gif">
                            </div>
                        </div>
                        <div id="shop_recipe_contain">
                        	<div id="shop_recipe_content">
                            	<div id="shop_recipe_title">
                                	Hungry for More?
                                </div>
                            </div>
                            <div id="shop_recipe_content">
                            	<div id="shop_recipe_l_col">
                                	<div class="shop_recipe_l_col_content_bigsize" id="shop_recipe_l_col_content">
                                	  Coming soon &ndash; A completely new way to shop for recipes! Our Shop recipes feature allows users to search through thousands of recipes in one convenient location!
                                    </div>
                                    <div id="shop_recipe_l_col_content">
                                      <div id="shop_recipe_l_col_content_inner">
                                        <div id="shop_recipe_bullet"><img src="%image_path%space.gif"></div>
                                            <div id="shop_recipe_bullet_content">View the newest cookbooks as well as the classics in one location!</div>
                                      </div>
                                        <div id="shop_recipe_l_col_content_inner">
                                            <div id="shop_recipe_bullet"><img src="%image_path%space.gif"></div>
                                            <div id="shop_recipe_bullet_content">Purchase individual recipes, instead of buying the entire book!
                                            </div>
                                        </div>
                                        <div id="shop_recipe_l_col_content_inner">
                                            <div id="shop_recipe_bullet"><img src="%image_path%space.gif"></div>
                                            <div id="shop_recipe_bullet_content">Find your favorite Chefs and keep up with their latest publications!
                                            </div>
                                        </div>
                                        <div id="shop_recipe_l_col_content_inner">
                                            <div id="shop_recipe_bullet"><img src="%image_path%space.gif"></div>
                                            <div id="shop_recipe_bullet_content">Build your personal library of recipe favorites!
                                            </div>
                                        
                                        </div>
                               	  </div>
                                </div>
                                
                                <div id="shop_recipe_r_col">
                                	<div id="shop_recipe_r_col_img">
	                                	<img width="199" height="164" src="%image_path%photo/shop_recipe_pic0001.jpg">
                                    </div>
                                </div>
                            </div>
                            <div id="shop_recipe_content">
                            	<div id="shop_recipe_l_col_content01">
                                Are you a chef, cookbook author, or publisher that<br>is interested in being compensated for online<br>purchasing of your recipes? If so, please contact us at <a href="mailto:sales@therecipediva.com">sales@therecipediva.com</a> to discuss partnering opportunities. </div>
                            </div>
                            <div id="shop_recipe_content">
                            	<img width="1" height="13" src="%image_path%space.gif">
                            </div>
                        </div>
                    </div>